---
layout: recipe-from-json.njk
title: "Leftovers breakfast not-a-quesadilla"
permalink: "/food/leftover-breakfast-quesadilla/"
date: 2025-09-09
card_image: "/images/food/breakfast-quesadilla-3-card.jpg"
cover_image: "/images/food/breakfast-quesadilla-3.jpg"
---
