---
layout: recipe-from-json.njk
title: "Leftover breakfast 'quesadilla'"
permalink: "/food/leftover-breakfast-quesadilla/"
date: 2025-09-09
cover_image: "/images/food/breakfast-quesadilla-3.jpg"
---
