---
layout: recipe-from-json.njk
title: "Breakfast Pitta"
permalink: "/food/breakfast-pitta/"
date: 2025-09-10
card_image: "/images/food/breakfast-pitta-card.jpg"
cover_image: "/images/food/breakfast-pitta.jpg"
---
