---
layout: base.njk
title: "About Bastardised Food"
permalink: "/about/"
---
<section class="about">
    <h2>About Us</h2>
    <p>Bastardised Food is run by a person who enjoys tasty food and different flavours and styles. This is a place to share some of the random creations I've made. The whole thing is pretty new and was put together to encourage me to cook more. I find that trying new dishes and making (hopefully) tasty things really does positive things for my mental health, which right now needs the help.</p>
</section>
