---
layout: base.njk
title: "Bastardised Food"
---

<section class="hero">
    <h1>Welcome to <br>Bastardised Food</h1>
    <p> bollocks to conventions!</p>
</section>
    
<section class="latest">
    <h2>Latest Bastardisations</h2>
    <div class="post-grid">
        <article class="post-card">
            <img src="https://picsum.photos/id/63/400" alt="Cup of coffee">
            <h3><a href="/posts/not-tortilla/">The "not tortilla" Spicy Meaty Egg and Onion Slab</a></h3>
            <p class="meta">
                <i class="fa-solid fa-people-group"></i> 4 <i class="fa-solid fa-stopwatch"></i> 60 mins <i class="fa-solid fa-receipt"></i> 9.99€ <br>
                <!-- <i class="fa-solid fa-calendar-days"></i> -->
            </p>
            <p class="excerpt">My take on an egg dish, that is definitley not tortilla, with chorizo and rebellion.</p>
        </article>

        <article class="post-card">
            <img src="https://picsum.photos/id/63/400" alt="Cup of coffee">
            <h3><a href="/food/fish-tacos/">A kind of fish taco</a></h3>
            <p class="excerpt">Seasoned and spiced fish, tortilla, some greens and stuff.</p>
            <span class="meta">Posted: [Date]</span>
        </article>
    </div>
</section>