@import "vars.css"; 
@import "reset.css";
@import "navbar.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik+Marker+Hatch&display=swap');

/* Default styles (mobile first) */
body {
  background-color: var(--header-bg-colour);
  color: var(--body-text-colour);
  font-family: "IBM Plex Sans", system-ui !important;
  font-size: 16px;
  margin: 0;
  padding-top: 60px;
}

h1 {
  color: var(--h1-colour);
  font-family: "Rubik Marker Hatch", system-ui !important;
  font-size: 64px;
  margin: 0;
}

h2 {
  color: var(--h2-colour);
  font-family: "Rubik Marker Hatch", system-ui !important;
  font-size: 24px;
  margin: 0;
}

h3 {
  color: var(--h3-colour);
  /* font-family: "Rubik Marker Hatch", system-ui !important; */
  font-size: 20px;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
header {
  background-color: var(--header-bg-colour);
  color: var(--header-text-colour);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: var(--header-h1-colour);
  font-size: 42px;
  margin: 0;
}

.hero {
  padding-bottom: 20px;
}

.post-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 10px
}
.post-card {
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 8px;
}

details {
  background-color: var(--bg-colour);
  padding: 1rem;
  border: #dddddd7c 1px dashed;
  border-radius: 12px;
  margin-bottom: 12px;
}

details summary {
  color: var(--details-text-colour);
  font-family: "Rubik Marker Hatch", system-ui !important;
  font-weight: bold;
  cursor: pointer;
}
 details .content {
  /* padding: 1rem; */
  /* background-color: var(--details-bg-colour); */
  border-radius: 12px;
  /* margin-top: 1rem; */
 }

/* Tablet */
@media (min-width: 768px) {
.post-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}

/* Desktop */
@media (min-width: 1024px) {
.post-grid {
  grid-template-columns: repeat(3, 1fr);
}
.post-card { padding: 1.5rem; }
.post {
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Recipe | Waffle */
  gap: 2rem;
}
.recipe { grid-column: 1; }
.waffle { grid-column: 2; }
}
